{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ .Code }} - {{ .Title }}</title>
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <style>{{ template "styles" }}</style>
</head>
<body>
<div class="flex-center position-ref full-height">
    <div class="code">
        {{ .Code }}
    </div>
    <div class="message">
        {{ .Title }}
    </div>
</div>
</body>
</html>
{{ end }}
